services:
  postgres:
    image: postgres:16
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: devdb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: user
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
