name: CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: devdb
          POSTGRES_USER: user
          POSTGRES_PASSWORD: user
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U user -d devdb"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build & Test
        env:
          SPRING_DATASOURCE_URL: jdbc:postgresql://localhost:5432/devdb
          SPRING_DATASOURCE_USERNAME: user
          SPRING_DATASOURCE_PASSWORD: user
        run: ./gradlew clean test build

      - name: Upload jar
        uses: actions/upload-artifact@v4
        with:
          name: my-ipim-jar
          path: build/libs/*.jar