name: CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build & Test
        env:
          SPRING_PROFILES_ACTIVE: test
        run: ./gradlew clean build

      - name: Upload jar
        uses: actions/upload-artifact@v4
        with:
          name: my-pim-jar
          path: build/libs/*.jar
